http://:8181 {
    route {
        saas_aksk_proxy {
            access_key ZksE5ZSXmn9s6Sex7vJiJq2zIKK09Zx5
            secret_key wXdRsVvEWMPwJe9w9OvyvKEwU15T1OzilhHSBEqnf8H3FAICNiEvDkd6feqT9aSf
        }
	}
    reverse_proxy * https://api-fake.dns.qihoo.net {
        header_up Host api-fake.dns.qihoo.net
        header_up X-Real-IP {http.request.remote}
        header_up X-Forwarded-Port {http.request.port}
    }
}
